/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Barra Superior de Navegação */
.BarraAcima {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    outline: solid 1px red;

    background-image: linear-gradient(red, rgb(191, 0, 0));
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.151);

    height: 6vw;
    max-height: 90px;
    padding: 14px;
    margin-bottom: 20px;
}

.BarraAcima h1 {
    font-weight: 700;
    font-size: clamp(2rem, 2.5vw, 3rem);

    padding-left: 10px;
}

.BarraAcima form input {
    padding: 8px;

    border: none;
    border-radius: 4px 0 0 4px;

    width: 50%;
    height: 3rem;
}

.BarraAcima form button img{
    padding: 8px;
    cursor: pointer;

    width: 50%;
    height: 3rem;

    border: none;
    border-radius: 4px 0 0 4px;
}

.BarraAcima li {
    list-style-type: none;
    
    margin-top: 5px;
}

.BarraAcima a {
    text-decoration: none;
    color: white;

    font-size: clamp(1rem, 2vw, 1.8rem);
    font-weight: 700;

    margin-left: 5px;

    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

.BarraAcima a:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.192);
}

/* Propaganda de pedido */
.PropagandaDoPedido {
    background-image: url(../Imagens/BackGrounds/BackgroundZapZup.png);
    background-position: right bottom;
    background-repeat: no-repeat;

    height: 25vw;
    max-height: 500px;
    margin-bottom: 20px;
}

.PropagandaDoPedido h2 {
    padding-top: 1vh;
    padding-left: 60px;
    margin-bottom: 10px;

    font-size: 5vw;
    font-weight: bold;
    color: red;
}

.PropagandaDoPedido p {
    padding-left: 60px;
    margin-bottom: 3vh;

    font-size: 2vw;
    width: 25vw;
}

.PropagandaDoPedido a {
    background-image: linear-gradient(red, rgb(190, 0, 0));

    padding: 8px;
    margin-left: 60px;

    border-radius: 10px;

    color: white;
    font-size: clamp(1.8rem, 2vw, 3rem);
    text-decoration: none;

    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.PropagandaDoPedido a:hover {
    background-image: linear-gradient(rgba(255, 72, 72, 0.913), rgba(255, 30, 30, 0.696));
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Propaganda do aplicativo */
.PropagandaDoAplicativo {
    background-color: red;

    height: 25vw;
    max-height: 500px;

    padding: 3vw;
}

.PropagandaDoAplicativo h2 {
    color: white;
    font-size: clamp(2.5rem, 3.5vw, 5rem);

    margin-bottom: 1rem;
}

.PropagandaDoAplicativo p {
    font-size: clamp(1.8rem, 2vw, 3rem);
    width: 500px;

    color: white;
}

.PropagandaDoAplicativo img {

}

